* {
  margin: 0px 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}
.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-links-container a:hover {
  color: grey;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.home-container {
  background-color: black;
}

.home-banner-container {
  position: relative;
  display: flex;

  /* z-index: -1; */
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  /* z-index: -1; */
  max-width: 800px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
  z-index: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  /* line-height: 5rem; */
  /* max-width: 12rem; */
  max-width: 120rem;
  margin-left: 2rem;
}
.primary-text {
  font-family: sans-serif;
  font-size: clamp(1.5rem, 4vw, 2rem);
  max-width: 1200px;
  color: white;
  margin: 1.5rem 0rem;
  margin-left: 2rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: rgb(142, 17, 166);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  color: black;

  background-color: grey;
}
.about-section-container {
  margin-top: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: rgb(142, 17, 166);
  font-size: 100px;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-style: solid;
  border-color: black;
  border-radius: 5rem;
  border-width: 3px;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footer-wrapper {
  margin: 6rem 5rem;
  display: flex;
  margin-top: 8rem;
  padding-bottom: 5rem;
}
.footer-logo-container {
  max-width: 200px;
  margin-left: -10px;
}
.footer-icons {
  margin: 1rem 0.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: white;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  margin-left: 7vw;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.testimonial-section-bottom {
  margin-top: 2rem;
  background-color: white;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
}
.testimonial-section-bottom {
  margin: 2rem auto;
}
.testimonial-section-bottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
.testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
}
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 15rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  max-width: 700px !important;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 220px;
  min-height: 200px;
  background-color: white;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 1.8rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.navbar-links-container a {
  color: white;
}
@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 200px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
    z-index: -1;
  }
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.auth-inner {
  width: 850px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.main-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.card-1 {
  text-align: center;
}

.wrapper {
  display: inline-flex;
  background: #fff;
  height: 100px;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot {
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}
.card-container {
  display: block;
  width: 52rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: -2rem;
  justify-content: space-evenly;
}





/* Roadmap css */
body {
	font-family: "Heebo", sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	line-height: 1.5;
	color: #5f5f5f;
	letter-spacing: 1px;
}

h2,
h4 {
	font-family: "Dosis", sans-serif;
	font-style: normal;
	margin-bottom: 10px;
	font-weight: 500;
	color:  rgb(142, 17, 166);
}
.pos-r {
	position: relative;
}
section {
	padding: 80px 0;
}
.section-title {
	margin-bottom: 50px;
	position: relative;
}
.section-title p {
	font-size: 16px;
}
.title-effect {
	width: 50px;
	height: 50px;
	top: 0;
	position: absolute;
	left: 0;
	opacity: 0.5;
	animation: rotation 12.8s steps(1) 0s infinite;
}
.text-center .title-effect {
	left: 50%;
	margin-left: -25px;
}
.text-center .section-title h6 {
	padding: 15px 0;
}



.title {
	position: relative;
	color:white;
	margin-bottom: 0;
}
.section-title h2 {
	margin-bottom: 15px;
}

/* ------------------------
    How It Work
------------------------*/
.work-process {
	position: relative;
}
.step-num {
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 12px 20px 0 rgba(117, 178, 240, 0.4);
	color: #005bea;
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	height: 50px;
	right: 0;
	line-height: 55px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
}
.theme-bg .work-process h4,
.theme-bg .work-process p {
	color: #ffffff;
}
.step-icon {
	background: #ffffff;
	width: 140px;
	height: 140px;
	position: relative;
	border: 3px solid #fafaff;
	border-radius: 50%;
	line-height: 140px;
	font-size: 40px;
	text-align: center;
	color: white;
}
.step-icon span {
	position: relative;
}
.step-icon span::after,
.step-icon span::before {
	border-radius: 50%;
	content: "";
	height: 40px;
	position: absolute;
	width: 40px;
	z-index: -1;
}
.step-icon span::after {
	background: #cdf3f6;
	height: 25px;
	left: -10px;
	top: 5px;
	width: 25px;
}
.step-icon span::before {
	background: #d4f8e6;
	bottom: 0;
	right: -10px;
}
.dark-bg .step-icon {
	color: rgba(255, 255, 255, 0.9);
	background: none;
}
.dark-bg .step-desc h4 {
	color: white;
}
.dark-bg .step-icon {
	border-color: rgba(255, 255, 255, 0.1);
}
.dark-bg .step-desc p {
	color: white
  ;
}
.step-num-box {
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
}
.work-process .box-loader {
	position: absolute;
	top: 30%;
	right: -15%;
	left: inherit;
}
.work-process.style-2 {
	padding: 0;
	display: flex;
	align-items: center;
}
.work-process.style-2:before {
	display: none;
}
.work-process.style-2 .step-num-box {
	margin-bottom: 0;
	margin-right: 30px;
}
.work-process.style-3 {
	padding: 70px 30px 0;
}
.work-process.style-3 .step-num {
	background: none;
	box-shadow: none;
	color: rgba(255, 255, 255, 0.1);
	font-size: 120px;
	height: auto;
	left: 50%;
	line-height: 120px;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: auto;
}
#svg-container {
	position: absolute;
	width: 100%;
	left: 52%;
	z-index: -1;
	transform: translateX(-50%);
	width: 75%;
}
#svgC {
	margin: 0 auto;
	width: 100%;
}

/* ------------------------
    box-loader
------------------------*/
.box-loader {
	border-radius: 100%;
	margin: 0 auto;
	position: absolute;
	top: 15px;
	left: 15px;
}
.box-loader span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: white;
	margin: 0 5px;
	opacity: 0;
}
.box-loader span:nth-child(1) {
	animation: opacitychange 1s ease-in-out infinite;
}
.box-loader span:nth-child(2) {
	animation: opacitychange 1s ease-in-out 0.33s infinite;
}
.box-loader span:nth-child(3) {
	animation: opacitychange 1s ease-in-out 0.66s infinite;
}

/*--rotation--*/

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes bar-top {
	0% {
		transform: scale(0, 1);
	}
	12.5% {
		transform: scale(1, 1);
	}
	87.5% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0, 1);
	}
}
@keyframes bar-right {
	0% {
		transform: scale(1, 0);
	}
	12.5% {
		transform: scale(1, 0);
	}
	25% {
		transform: scale(1, 1);
	}
	75% {
		transform: scale(1, 1);
	}
	87.5% {
		transform: scale(1, 0);
	}
	100% {
		transform: scale(1, 0);
	}
}
@keyframes bar-bottom {
	0% {
		transform: scale(0, 1);
	}
	25% {
		transform: scale(0, 1);
	}
	37.5% {
		transform: scale(1, 1);
	}
	62.5% {
		transform: scale(1, 1);
	}
	75% {
		transform: scale(0, 1);
	}
	100% {
		transform: scale(0, 1);
	}
}
@keyframes bar-left {
	0% {
		transform: scale(1, 0);
	}
	37.5% {
		transform: scale(1, 0);
	}
	50% {
		transform: scale(1, 1);
	}
	62.5% {
		transform: scale(1, 0);
	}
	100% {
		transform: scale(1, 0);
	}
}

/*--opacitychange--*/

@keyframes opacitychange {
	0%,
	100% {
		opacity: 0;
	}

	60% {
		opacity: 1;
	}
}

/* responsive */
@media (max-width: 1200px) {
	#svg-container {
		width: 85%;
	}
}
@media (max-width: 992px) {
	.md-mt-5 {
		margin-top: 50px !important;
	}
	/*Step*/
	.work-process .box-loader {
		display: none;
	}
	.step-desc p {
		max-width: 300px;
		margin: 0 auto;
    color:white
    ;
	}
	#svg-container {
		width: 100%;
		transform: rotate(90deg);
		left: 0;
		top: 50%;
	}
}





.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}

.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width:250px;
  max-width: 100%;
  height: 100px;
  background: rgb(142, 17, 166);;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  color:rgb(142, 17, 166);
}
.content h2{
 justify-content: center;
  color:white;
}



